@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #020617, #020617 60%, #000);
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Smooth scroll */
::-webkit-scrollbar {
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}